:root {
  --color-primary: #ee7600;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html, body {
  box-sizing: border-box;
  overflow: hidden;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;
  font-weight: 300;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
}

.container {
  width: 100%;
  height: 100%;
}

.countdown {
  z-index: 1000;
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100vh;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.countdown__inner {
  text-align: center;
  padding-top: 5rem;
}

.countdown__heading {
  font-size: 10rem;
  line-height: 1.1;
  font-weight: 700;
  display: block;
}

.countdown__heading--subheading {
  font-size: 5rem;
  display: block;
  padding-top: 2rem;
  font-weight: 300;
}

.countdown__line {
  font-size: 3rem;
  font-weight: 200;
}

.countdown__line::before {
  content: "";
  display: block;
  width: 50%;
  margin: 2.5rem auto;
  border-top: 2px solid var(--color-primary);
}

/* Styles for timer */

.countdown__timer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.countdown__timer div {
  display: block;
  margin: 0 3rem;
  font-size: 7rem;
  font-weight: 900;
}

.countdown__timer div span {
  display: block;
  font-size: 3rem;
  font-weight: 200;
  color: var(--color-primary);
}